.root
{
    -fx-background-color: #35605A;

}
.tool-bar
{
    -fx-background-color: #00120B;
}
.button
{
    -fx-background-color: #35605A;
    -fx-text-fill: #31E981;
}

.default-color0.chart-bar {
    -fx-bar-fill: #31E981
}
.default-color0.chart-series-line {
    -fx-stroke: #31E981;
}

.axis-label {
    -fx-text-fill: #31E981;
}

.chart-plot-background {
    -fx-background-color: #6B818C;
}
.axis
{
    -fx-tick-label-fill: #31E981;
}
.label
{
    -fx-text-fill: #31E981;
}
.combo-box
{
    -fx-background-color: #35605A;
}
.choice-box
{
    -fx-background-color: #35605A;
}
.table-view{
    -fx-background-color: #6B818C;
}

.table-view .column-header {
    -fx-background-color: #8ba6af;
}
.table-row-cell:filled {
    -fx-background-color: #60767a;

}
.table-row-cell:filled:selected .table-cell {
    -fx-text-fill: #31E981;
}